@media only screen and (max-width:1400px){

    /* .about .left .img-box{
        width: 90%;
    } */

}
@media only screen and (max-width:1200px){
    .products-2 .box{
        height: 39rem;
    }

}

@media only screen and (max-width:1024px){
    /* products starts from here  */
    .products .box{
        height: auto;
    }
    /* products starts from here  */

}  
@media only screen and (max-width:990px){
    h2{
        font-size: 3rem;
    }
    /* banner starts from here  */
    .banner .ban{
        width: 80%;
        margin: 0 auto;
        padding: 22% 0 0 ;
    }
    .banner .ban .super-title{
        font-size: 2rem;
    } 
    .banner .ban .ban-title{
        font-size: 4rem;
        line-height: 3.5rem; 
    } 
    .banner .ban p{
        font-size: 1.3rem;
    } 
    /* banner ends from here  */
    /* header starts from here  */
    header .top-line{
        display: none !important;
    }
    /* header starts from here  */

    /* products starts from here  */
    .products .box{
        height: auto;
    }
    /* products starts from here  */

    .contact .form{
        /* margin:10% 5%; */
        padding: 5% 10%;




    }

    .news-letter {
        padding: 3%;
    }
    .news-letter h3 {
        padding: 4% 0;
    }
    .hover{
        top:500rem
    }

}
@media only screen and (max-width:769px){
    .news-letter .btn{
        margin: 3% 0;
    }
    .hover{
        display: none;
    }
    .btn{
        min-width: auto;
    }
    .button .btn-2{
        margin-right: auto;
    }
    .products-2 .button{

        justify-content: space-between;
    }
    .products-2 .box .text-box-2{
        margin-bottom: 5%;
    }
    /* banner starts from here  */
    .banner .ban{

    }
    /* banner starts from here  */

    /* about starts from here     */
    
    /* .about .left .img-box{
        width: 80%; */
        /* height: 25rem; */
    /* }
    .about .right .sub-title::after{
        display: none;

    } */
    /* about starts from here     */
        /* products starts from here  */
        /* .products .box{ */
            /* height: 26rem; */
            /* background-color: red; */
        /* } */
        /* .products .box .img-box{
            height: 15rem;
        }  */
        /* products ends from here  */

    /* products starts from here  */
    .products .box{
        height: auto;
    }
    .products .extra{
        display: none;
        background-color: black;
    }
    /* products starts from here  */
    .products-2 .box{
        height: 40rem !important;
        /* height: auto; */
    }
}   

@media only screen and (max-width:575px){
    h2{
        font-size: 2.1rem;
    }

    /* 
    .btn-anchor{
        width: 2rem;
        height: 2rem;
    }
    .btn-anchor .up-btn{
        font-size: 2rem;
    } */

    /* banner starts from here  */
    .banner .ban{
        padding: 50% 0 3%;
        
    }
    .banner .ban .super-title{
        font-size: 2rem;

    }
    .banner .ban .ban-title{
        font-size: 2.5rem;

    } 
    .banner .ban .title{
        font-size: 2.3rem;
        line-height: 3rem; 
        /* color: black; */
    }
    .banner .ban p{
        font-size: 1.1rem ;
        line-height: 1.3rem;
        /* color: black ; */
    }
    /* banner ends from here  */
    
    /* about start from here  */
        
    /* .about .left .img-box{
    
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; */
        /* padding: 3%; */
    
    /* }
    
    .about .left img{
        width: 140%;
    }
    
    .about .left .deco1{
        border: .6rem solid var(--primary);
        width: 60%;
        height: 55%;
        top: 10%;
        left: -7%;
    
    }
    .about .left .deco2{
        border: .6rem solid var(--primary);
        width: 60%;
        height: 60%;
        top: 30%;
        right: -7%;
    
    }
    
    
    .about .right .sub-title::after{
        display: none;
    
    } */
    /* about ends from here  */
    /* products starts from here  */
    /* .products .box{
        height: 35rem;
    }
    .products .box .img-box{
        height: 20rem;
    } 




    */



    /* products starts from here  */
    .products-2 .box{
        height: 35rem !important;
        /* height: auto; */
    } 
    .products-2 .box .text-box-2{
        margin-bottom: 0%;
    }
    /* products starts from here  */
    
}
@media only screen and (max-width:375px){

/* 
    .banner .ban{
        padding: 40% 2% 1%;
    } */
    /* products starts from here  */
    /* .products .box{
        height: 30rem; */
        /* background-color: red; */
    /* }
    .products .box .img-box{
        height: 15rem; */
    /* }  */
    /* products ends from here  */


}
    